.button {
    cursor: pointer;
    border: 1px solid transparent; /* Establece un borde transparente inicialmente */
    transition: border 0.5s ease; /* Transición suave para el borde */
}

.button:hover{
    cursor: pointer;
    border: 1px solid black;
}